/* CONFIGURAÇÕES GLOBAIS */

  * {
    font-family: 'Inter', sans-serif;

    --backgroud-dark: rgba(255, 255, 255, 0.10);
    --border-dark: rgba(255, 255, 255, 0.50);
    --text-dark: white;

    --background-light: rgba(0, 0, 0, 0.05);
    --border-light: rgba(0, 0, 0, 0.50);
    --text-light: black;
  }

  #main-page {
    width: 360px;
    height: 800px;
  /*   border: 1px solid red; */
    margin: auto;
  }

  body {
    background: url('../assets/bg-mobile.jpg') no-repeat;
    color: var(--text-dark);
    background-size: cover;
    background-position: top center;
    overflow: hidden;

    transition: 400ms;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* CONTEÚDO */

.content .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 56px;
}

.content .head span{
  background: url('../../public/assets/avatar.png');
  background-size: 112px;
  height: 112px;
  width: 112px;
  margin-bottom: 9px;

  transition: 400ms;
}

.content .head h1 {
  font-weight: 500;
  font-size: 16px;

  margin-bottom: 24px;
}

.content .switch{
  position: relative;
  width: 64px;
}

.content .switch button{
  width: 32px;
  height: 32px;
  background: url('../assets/moon-stars.svg') no-repeat center;
  background-size: 25px;

  padding: 16px;

  background-color: white;
  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 1;

  transition: right 400ms;
}

.content .switch span{
  display: block;
  width: 64px;
  height: 24px;

  background-color: rgba(255, 255, 255, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.50);
  border-radius: 999px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.content .links {
  margin-top: 24px;

  width: 90%;
}

.content .links button {
  width: 100%;
  padding: 16px;

  background-color: var(--backgroud-dark);

  border-radius: 8px;
  border: 1px solid var(--border-dark);

  margin-bottom: 16px;

  text-align: center;
  font-size: 16px;

  color: var(--text-dark);

  cursor: pointer;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: 400ms;
}

.content .links button:hover {
  width: 100%;
  padding: 16px;

  background-color: rgba(255, 255, 255, 0.05);

  border-radius: 8px;
  border: 1.5px solid var(--text-dark);

  margin-bottom: 16px;

  text-align: center;
  font-size: 16px;

  color: var(--text-dark);

  cursor: pointer;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.content .socials {
  display: flex;
  gap: 32px;
  padding: 24px;

}

.content .socials .social a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  border-radius: 20%;
  transition: 400ms;
}

.content .socials .social a:hover {
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 50%;
}

.agradecimento {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.5px;

  visibility: visible;
}

path {
  color: var(--text-dark);
  transition: 400ms;
}

/* LIGHT MODE */

  body.light{
    background: url('../assets/bg-mobile-light.jpg') no-repeat;
    color: var(--text-light);
    background-size: cover;
    background-position: top center;
  }

  body.light .links button {
    color: var(--text-light);
    background-color: var(--background-light);
    border: 1px solid var(--border-light);
  }

  body.light .content .links button:hover {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    border: 1.5px solid var(--text-light);
    color: var(--text-light);
  }

  body.light path {
    color: var(--text-light);
  }

  body.light .content .head span{
    background: url('../../public/assets/avatar-light.png');
    background-size: 112px;
    height: 112px;
    width: 112px;
    margin-bottom: 9px;
  }

  body.light .content .socials .social a:hover {
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 50%;
  }

  body.light .content .switch button{
    width: 32px;
    height: 32px;
    background: url('../assets/sun.svg') no-repeat center;
    background-size: 25px;
  
    background-color: white;
    border: 0;
    border-radius: 50%;
  }

  body.light .content .switch button{
    right: -1.5px;
  }

  body.light .content .switch span{
    display: block;
    width: 64px;
    height: 24px;
  
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.50);
    border-radius: 999px;
  
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

/* RESPONSIVIDADE */

  @media (min-width: 1024px){
    #main-page {
      width: 900px;
      height: 100vh;
    /*  border: 1px solid red; */
      margin: auto;

    }

    body {
      background: url('../assets/bg-desktop.jpg') no-repeat;
      color: var(--text-dark);
      background-size: cover;
      background-position: top center;
    }

    body.light{
      background: url('../assets/bg-desktop-light.jpg') no-repeat;
      color: var(--text-light);
      background-size: cover;
      background-position: top center;
    }
  }

  @media (max-height: 670px){
    .agradecimento{
      visibility: hidden;
    }
  }